.jumbotron {
  padding-top: 6rem;
  background-color: rgb(177, 205, 230);
}

.lead{
  /* padding-top: 30px;
  padding-left: 20px; */
  padding: 10px 50px;
}
.foto {
object-fit: cover;
object-position: top;
}

#Pendidikan {  
  background-color: rgb(177, 205, 230);
}

#Aktivitas {  
  background-color: white;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
th {
  background-color: rgb(177, 205, 230);
}

table{
  margin-bottom: 20px;
}
